


.parent-container{
    text-align: center;
    width:100%;
    position: relative;
    padding: 10%;
    
    display: inline-block;
    flex-wrap: wrap;
    align-content: space-around;
    .progresscontainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        div{
            width: 100%;
            padding: 2px;
        }
    }
    .buttonStyle {
        
        background-color: #429cd6;
        color: white;
        border: none;
        width: 40px;
    }
    .buttoncontainer {
        width: 100%;
        display: flex;
        padding: 5rem;
        align-content: space-around;
        flex-wrap: wrap;
        div{
            width: 25%;
        }
    }
}
